@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}

.input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[#704232];
}

.btn-primary {
  @apply bg-[#704232] hover:bg-[#5b3529] text-white px-5 py-2 rounded-lg;
}

.btn-secondary {
  @apply bg-gray-100 hover:bg-gray-200 px-5 py-2 rounded-lg;
}

.th {
  @apply px-4 py-3 text-left font-semibold text-gray-600;
}

.td {
  @apply px-4 py-3;
}

.icon-action {
  @apply cursor-pointer hover:scale-110 transition;
}
